@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 0.9rem;
}
body{
  margin: auto;
  max-width: 1300px;
}

.my-hover{
  @apply transition-all duration-500 cursor-pointer ease-in
}
.my-animation{
  animation: open 0.4s linear ;
}
@keyframes open {
  to{
    opacity:  1;
  }
  from{
    opacity:0;
  }
  
}